:root {
  forced-color-adjust: none;
  font-family: "Helvetica", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  --c2: #e0e0e0;
  --c12: #181818;
  --container-data: 140px;
  --gap-data: 20px;
  --divisao: calc(var(--container-data) + var(--gap-data));
  --margin: 70%;
  --svg: 36px;
  --contato-svg: var(--svg);
  --margem-contato: var(--divisao);
  font-size: 1.5rem;
}

body {
  width: 100%;
  margin: 0;
}

svg {
  width: var(--svg);
  height: var(--svg);
}

.background {
  background-size: 100% 100%;
  background-position-x: right;
  background-repeat: no-repeat;
}

.experiencia-profissional {
  background-image: url("/src/assets/images/Background_Experiencia_Profissional_740.jpg");
  color: var(--c12);
}

.experiencia-na-area {
  background-image: url("/src/assets/images/Background_Experiencia_Na_Area_740.jpg");
  color: var(--c12);
}

.experiencia-na-area a {
  text-decoration: underline;
  word-break: break-word;
}
.experiencia-profissional svg,
.experiencia-na-area svg {
  fill: var(--c12);
}

.experiencia-profissional hr,
.experiencia-na-area hr {
  border-color: var(--c12);
}

.formacao {
  background-image: url("/src/assets/images/Background_Formacao_740.jpg");
  color: var(--c2);
}

.formacao svg {
  fill: var(--c2);
}

.formacao hr {
  border-color: var(--c2);
}

.contato {
  background-image: url("/src/assets/images/Background_Contato_740.jpg");
  color: var(--c12);
  padding: 1.5rem 0;
}

.contato svg {
  fill: var(--c12);
}

.icone-e-texto {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.secao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  padding: 1.5rem 0;
}

.subsecao {
  width: var(--margin);
  display: flex;
  flex-direction: column;
  align-self: center;
}

.subsecao p {
  margin: 0.5rem 0;
}

.lista-cursos {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.curso {
  display: flex;
  gap: var(--gap-data);
}

.nome-descricao-curso {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.data-curso {
  display: flex;
  align-items: center;
  width: fit-content;
  text-align: center;
}

.container-data {
  min-width: var(--container-data);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: min-content;
}

.divider-container {
  padding-left: var(--divisao);
}

.lista-idiomas {
  display: flex;
  flex-direction: column;
  padding-left: var(--divisao);
}

.lista-contato {
  display: flex;
  flex-direction: column;
  padding-left: var(--margem-contato);
  gap: 0.5rem;
}

.lista-contato svg {
  width: var(--contato-svg);
  height: var(--contato-svg);
}

.link-contato {
  text-decoration: underline;
}

@media (max-width: 1060px) {
  :root {
    font: 1rem;
  }
}

@media (max-width: 740px) {
  :root {
    --margin: 80%;
    --container-data: 100px;
    font-size: 1rem;
    --contato-svg: 30px;
    --margem-contato: calc(
      var(--divisao) - ((var(--contato-svg)) + var(--gap-data))
    );
  }
  .experiencia-profissional {
    background-image: url("./assets/images/Background_Experiencia_Profissional_640.jpg");
  }
  .experiencia-na-area {
    background-image: url("./assets/images/Background_Experiencia_Na_Area_640.jpg");
  }
  .formacao {
    background-image: url("./assets/images/Background_Formacao_640.jpg");
  }
  .contato {
    background-image: url("./assets/images/Background_Contato_640.jpg");
  }
  .container-data {
    min-width: unset;
  }
  .divider-container,
  .lista-idiomas {
    padding-left: 55px;
  }
}
